html {
  height: 100%;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: 'PingFang SC', 'Menlo', 'Meslo LG', 'monospace', 'Helvetica', 'Tahoma', 'Arial', 'Microsoft JhengHei', 'Microsoft YaHei', 'SimSun', 'sans-serif';
  font-weight: 300;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  margin: 0 0;
  font-weight: 300;
  color: #333333;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

#root,
#app {
  height: 100%;
  .pointer {
    cursor: pointer;
  }
  .content-content {
    h1 {
      margin-bottom: 20px;
    }
  }
  .ant-modal-body, td {
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
}